MainWindow {
	background-color: #F0F0F0;
	color: #000000;
	}
settings_window {
	background-color: #F0F0F0;
	color: #000000;
	}
QMenuBar {
	background-color: #F0F0F0;
	color: #000000;
	}
QMenu {
	background-color: #F0F0F0;
	color: #000000;
    border: 1px solid #FFFFFF;
    border-top: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
	}
QMenu::item {
    padding: 3px;
    border-radius: 10px;
}
QMenu::item:selected {
    padding: 3px;
    border-radius: 1px;
    background-color: #FFFFFF;
}
QLabel {
	color: #000000;
	}
QLineEdit {
	background-color: #FFFFFF;
	color: #000000;
	border: 1px solid #a8a8a8;
    border-radius: 3px;
	}
QTextEdit {
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    border: 0px solid #000000;
}
QTabWidget {
    background-color: #F0F0F0;
    padding: 0px;
    margin: 0px;
    border: 0px solid #000000;
	}
QTabWidget::tab-bar {
    left: 0px;
}
QTabBar::tab {
    border: 1px solid #a8a8a8;
    background-color: #F0F0F0;
    color: #000000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 3px;
}
QTabBar::tab:selected {
    border: 1px solid #a8a8a8;
    background-color: #FFFFFF;
    color: #000000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 3px;
}
QPushButton {
	background-color: #FFFFFF;
	color: #000000;
	border: 0.5px solid #a8a8a8;
    border-radius: 3px;
    padding: 3px;
	}
QPushButton:pressed {
    background-color: #F0F0F0;
}
QComboBox {
	background-color: #FFFFFF;
	color: #000000;
	}
QComboBox::drop-arrow {
	background-color: #FFFFFF;
	color: #000000;
	}
QComboBoxQAbstractItemView {
	background-color: #FFFFFF;
	color: #000000;
	}
QSpinBox {
    background-color: #FFFFFF;
	color: #000000;
}
