MainWindow {
	background-color: #101010;
	color: #FFFFFF;
	}
settings_window {
	background-color: #101010;
	color: #FFFFFF;
	}
QMenuBar {
	background-color: #101010;
	color: #FFFFFF;
	}
QMenu {
	background-color: #101010;
	color: #FFFFFF;
    border: 1px solid #404040;
    border-top: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
	}
QMenu::item {
    padding: 3px;
    border-radius: 10px;
}
QMenu::item:selected {
    padding: 3px;
    border-radius: 1px;
    background-color: #404040;
}
QLabel {
	color: #FFFFFF;
	}
QLineEdit {
	background-color: #404040;
	color: #FFFFFF;
	border: 1px solid #606060;
    border-radius: 3px;
	}
QTextEdit {
    background-color: #404040;
    margin: 0px;
    padding: 0px;
    border: 0px solid #FFFFFF;
}
QTabWidget {
    background-color: #101010;
    padding: 0px;
    margin: 0px;
    border: 0px solid #FFFFFF;
	}
QTabWidget::tab-bar {
    left: 0px;
}
QTabBar::tab {
    border: 1px solid #606060;
    background-color: #101010;
    color: #FFFFFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 3px;
}
QTabBar::tab:selected {
    border: 1px solid #606060;
    background-color: #404040;
    color: #FFFFFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 3px;
}
QPushButton {
	background-color: #404040;
	color: #FFFFFF;
	border: 0.5px solid #606060;
    border-radius: 3px;
    padding: 3px;
	}
QPushButton:pressed {
    background-color: #101010;
}
QComboBox {
	background-color: #404040;
	color: #FFFFFF;
	}
QComboBox::drop-arrow {
	background-color: #404040;
	color: #FFFFFF;
	}
QComboBoxQAbstractItemView {
	background-color: #404040;
	color: #FFFFFF;
	}
QSpinBox {
    background-color: #404040;
	color: #FFFFFF;
}
